
header{
    background-color: #FFC017;
    height: 75px;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.header-title, .greeting-div, .header-button, .header-text{
    display: inline-block;
}

.header-title{
    position: absolute;
    left: 50px;
}

.greeting-div{
    position: absolute;
    right: 100px;
}

.login-signup{
    display: flex;
    width: 35%;
    place-content: space-evenly;
    margin-right: 50px;
}