.post-main-container{
    display: flex;
    justify-content: space-between;
}

.logged-in-nav{
    position: sticky;
    top: 0;
}

.post-page-div{
    font-family: sone;
    width: 70%;
    margin: auto;
    padding: 50px;
}

.entire-post-title{
    font-family: sone-bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.016em;
    margin-top: 0.6em;
    margin-bottom: 30px;
    color: rgba(41,41,41,1);
}
.author-info-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.author-info-header > div{
    margin-right: 15px;
}
.entire-post-body{
    font-family: charter;
    font-size: 20px;
    margin-top: 2em;
    letter-spacing: -0.003em;
    line-height: 32px;
    margin-bottom: 30px;
}

.post-big-image img{
    width: 100%;
}

.post-div-time{
    font-size: 14px;
    line-height: 20px;
    color: rgba(117,117,117,1);
    display: flex;
}

.post-div-time p{
    margin: 0 5px;
}

.author-avatar img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.post-buttons{
    display: flex;
    justify-content: space-between;
}

.post-like-comments, 
.post-save-delete{
    display: flex;
}

.post-likes-button, 
.post-comments-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-like-comments > div,
.post-save-delete > div{
    margin: 5px;
}

.post-likes-button,
.post-comments-button,
.post-save,
.post-delete{
    cursor: pointer;
}